In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt



df1=(pd.read_csv("../../data/raw/Dataset_irobinson.csv.csv")
         .dropna()
   )
df2= (df1.drop(['created_at','last_move_at','rated','white_id','black_id','id'],axis=1)
        .dropna()
        .sort_values(by=['turns'],ascending=True)
        .assign(move_name_and_eco= df1['opening_name']+ '('+ df1['opening_eco'] +')')
        .drop(['opening_eco','opening_name'],axis=1)
        .rename(columns={'increment_code':'time'})
        .reset_index(drop=True)
         )
df2

,turns,victory_status,winner,time,white_rating,black_rating,moves,opening_ply,move_name_and_eco
0,1,resign,white,10+0,1670,1175,e4,1,King's Pawn(B00)
1,1,resign,black,10+0,1464,1355,g3,1,Hungarian Opening(A00)
2,1,outoftime,white,5+15,2404,1616,e4,1,King's Pawn(B00)
3,1,outoftime,white,20+10,2438,1666,e4,1,King's Pawn(B00)
4,1,outoftime,white,20+10,2438,1885,e4,1,King's Pawn(B00)
...,...,...,...,...,...,...,...,...,...
20053,226,draw,draw,10+0,1817,1907,e4 e6 Nf3 d5 exd5 exd5 d4 Nf6 Bg5 Be7 Nc3 Be6 ...,3,French Defense: Knight Variation(C00)
20054,255,draw,draw,7+2,1585,1448,e4 e6 Nc3 d5 exd5 exd5 d4 Nf6 Bf4 Be7 Nf3 O-O ...,3,French Defense: Queen's Knight(C00)
20055,259,draw,draw,15+5,1441,1461,d4 d5 c4 c6 Nc3 Nf6 Bg5 Nbd7 Qc2 Qb6 e3 h6 Bf4...,5,Slav Defense #2(D10)
20056,349,outoftime,white,10+0,2194,2240,d4 d5 c4 c6 Nf3 Nf6 Nc3 e6 Bg5 h6 Bxf6 Qxf6 Qb...,13,Queen's Gambit Declined: Hastings Variation(D30)
20057,349,outoftime,white,10+0,2194,2240,d4 d5 c4 c6 Nf3 Nf6 Nc3 e6 Bg5 h6 Bxf6 Qxf6 Qb...,13,Queen's Gambit Declined: Hastings Variation(D30)

In [ ]:
df_high_frequencies.columns = ['value_counts']
df_high_frequencies.reset_index()

In [65]:
df3=df2['move_name_and_eco'].value_counts().head(25)
df3

Van't Kruijs Opening(A00)                             368
Sicilian Defense: Bowdler Attack(B20)                 296
French Defense: Knight Variation(C00)                 271
Scandinavian Defense: Mieses-Kotroc Variation(B01)    259
Queen's Pawn Game: Mason Attack(D00)                  232
Scandinavian Defense(B01)                             223
Horwitz Defense(A40)                                  209
Philidor Defense #3(C41)                              198
Philidor Defense #2(C41)                              193
Indian Game(A45)                                      181
Italian Game: Anti-Fried Liver Defense(C55)           180
Sicilian Defense(B50)                                 171
Owen Defense(B00)                                     168
King's Pawn Game: Wayward Queen Attack(C20)           164
Sicilian Defense: Old Sicilian(B30)                   159
King's Pawn Game: Leonardis Variation(C20)            154
Sicilian Defense(B20)                                 151
Scotch Game(C45)                                      142
Queen's Pawn Game(D00)                                142
Caro-Kann Defense(B10)                                140
Philidor Defense(C41)                                 135
Ruy Lopez: Steinitz Defense(C62)                      134
Hungarian Opening(A00)                                130
Scotch Game(C44)                                      129
French Defense: Normal Variation(C00)                 129
Name: move_name_and_eco, dtype: int64

In [110]:
df_high=df2.groupby('move_name_and_eco')['winner'].value_counts(ascending=False).sort_values(ascending=False).head(25)

In [80]:
#eliminates draws 
df_victory= df2[lambda row:~row['victory_status'].str.contains('draw')]
df_victory.head(2)

,turns,victory_status,winner,time,white_rating,black_rating,moves,opening_ply,move_name_and_eco
0,1,resign,white,10+0,1670,1175,e4,1,King's Pawn(B00)
1,1,resign,black,10+0,1464,1355,g3,1,Hungarian Opening(A00)

In [111]:
#only include the highest played opening moves
df_highest=df_victory['move_name_and_eco'].value_counts().loc[lambda x: x>124]
df_highest

Van't Kruijs Opening(A00)                             352
Sicilian Defense: Bowdler Attack(B20)                 284
French Defense: Knight Variation(C00)                 256
Scandinavian Defense: Mieses-Kotroc Variation(B01)    253
Queen's Pawn Game: Mason Attack(D00)                  220
Scandinavian Defense(B01)                             213
Horwitz Defense(A40)                                  205
Philidor Defense #3(C41)                              194
Philidor Defense #2(C41)                              185
Italian Game: Anti-Fried Liver Defense(C55)           170
Indian Game(A45)                                      170
Sicilian Defense(B50)                                 162
Owen Defense(B00)                                     160
King's Pawn Game: Wayward Queen Attack(C20)           158
Sicilian Defense: Old Sicilian(B30)                   154
King's Pawn Game: Leonardis Variation(C20)            151
Sicilian Defense(B20)                                 148
Queen's Pawn Game(D00)                                136
Caro-Kann Defense(B10)                                135
Scotch Game(C45)                                      134
Ruy Lopez: Steinitz Defense(C62)                      128
Hungarian Opening(A00)                                127
Philidor Defense(C41)                                 127
Scotch Game(C44)                                      127
Queen's Gambit Refused: Marshall Defense(D06)         125
French Defense: Normal Variation(C00)                 125
Name: move_name_and_eco, dtype: int64

In [96]:

#df2.iloc[df2.groupby('move_name_and_eco').move_name_and_eco.transform('size').argsort(kind='mergesort')]

In [103]:
df_victory['victory_status'].value_counts()

resign       11147
mate          6325
outoftime     1680
Name: victory_status, dtype: int64

In [105]:
df_victory['winner'].value_counts()

white    10001
black     9107
draw        44
Name: winner, dtype: int64

In [116]:
df2['time'][0]

'10+0'