In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt



df1=(pd.read_csv("../../data/raw/Dataset_irobinson.csv.csv")
         .dropna()
   )
df2= (df1.drop(['created_at','last_move_at','rated','white_id','black_id','id'],axis=1)
        .dropna()
        .sort_values(by=['turns'],ascending=True)
        .assign(move_name_and_eco= df1['opening_name']+ '('+ df1['opening_eco'] +')')
        .drop(['opening_eco','opening_name'],axis=1)
        .rename(columns={'increment_code':'time'})
        .reset_index(drop=True)
         )
df2

,turns,victory_status,winner,time,white_rating,black_rating,moves,opening_ply,move_name_and_eco
0,1,resign,white,10+0,1670,1175,e4,1,King's Pawn(B00)
1,1,resign,black,10+0,1464,1355,g3,1,Hungarian Opening(A00)
2,1,outoftime,white,5+15,2404,1616,e4,1,King's Pawn(B00)
3,1,outoftime,white,20+10,2438,1666,e4,1,King's Pawn(B00)
4,1,outoftime,white,20+10,2438,1885,e4,1,King's Pawn(B00)
...,...,...,...,...,...,...,...,...,...
20053,226,draw,draw,10+0,1817,1907,e4 e6 Nf3 d5 exd5 exd5 d4 Nf6 Bg5 Be7 Nc3 Be6 ...,3,French Defense: Knight Variation(C00)
20054,255,draw,draw,7+2,1585,1448,e4 e6 Nc3 d5 exd5 exd5 d4 Nf6 Bf4 Be7 Nf3 O-O ...,3,French Defense: Queen's Knight(C00)
20055,259,draw,draw,15+5,1441,1461,d4 d5 c4 c6 Nc3 Nf6 Bg5 Nbd7 Qc2 Qb6 e3 h6 Bf4...,5,Slav Defense #2(D10)
20056,349,outoftime,white,10+0,2194,2240,d4 d5 c4 c6 Nf3 Nf6 Nc3 e6 Bg5 h6 Bxf6 Qxf6 Qb...,13,Queen's Gambit Declined: Hastings Variation(D30)
20057,349,outoftime,white,10+0,2194,2240,d4 d5 c4 c6 Nf3 Nf6 Nc3 e6 Bg5 h6 Bxf6 Qxf6 Qb...,13,Queen's Gambit Declined: Hastings Variation(D30)

In [3]:
df_high_frequencies.columns = ['value_counts']
df_high_frequencies.reset_index()

NameError: name 'df_high_frequencies' is not defined

In [ ]:
df3=df2['move_name_and_eco'].value_counts().head(25)
df3

In [ ]:
df_high=df2.groupby('move_name_and_eco')['winner'].value_counts(ascending=False).sort_values(ascending=False).head(25)

In [ ]:
#eliminates draws 
df_victory= df2[lambda row:~row['victory_status'].str.contains('draw')]
df_victory.head(2)

In [ ]:
#only include the highest played opening moves
df_highest=df_victory['move_name_and_eco'].value_counts().loc[lambda x: x>124]
df_highest

In [ ]:

#df2.iloc[df2.groupby('move_name_and_eco').move_name_and_eco.transform('size').argsort(kind='mergesort')]

In [ ]:
df_victory['victory_status'].value_counts()

In [ ]:
df_victory['winner'].value_counts()

In [33]:
df2['time'][0:20058]

0         10+0
1         10+0
2         5+15
3        20+10
4        20+10
         ...
20053     10+0
20054      7+2
20055     15+5
20056     10+0
20057     10+0
Name: time, Length: 20058, dtype: object

In [35]:
sns.load_dataset('car_crashes').head(10)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA
5,13.6,5.032,3.808,10.744,12.920,835.50,139.91,CO
6,10.8,4.968,3.888,9.396,8.856,1068.73,167.02,CT
7,16.2,6.156,4.860,14.094,16.038,1137.87,151.48,DE
8,5.9,2.006,1.593,5.900,5.900,1273.89,136.05,DC
9,17.9,3.759,5.191,16.468,16.826,1160.13,144.18,FL

NameError: name 'car_crashes' is not defined